  <div style="padding-left: 55px; padding-right: 55px">
  <article>
    <section class="h2 text-center">Our Story</section>
    <p>
      At Pizzeria, we don’t just make pizza. We make people happy. Pizzeria was built on the belief that pizza night
      should be special, and we carry that belief into everything we do. With more than 55 years of experience under
      our belts, we understand how to best serve our customers through tried and true service principles: We create
      food we’re proud to serve and deliver it fast, with a smile.
    </p>
    <p>
      In 1958, two brothers borrowed $600 from their mom to
      open a pizza place in Wichita, Kansas. They named it Pizzeria,
      because their sign only had room for eight letters. How profound!
      Soon, the restaurant grew. Why? The pizza was awesome. The service felt like home. And the customers were treated
      like family.
      And we’ve been delivering that same food and service ever since.
      <b>No one loves pizza more than Pizzeria. That’s why pizza is in our name — and always will be.</b>
    </p>

    <div>
      <img width="400px" [src]='"assets/ingredients.jpg"' style="margin:0px 15px; float:left " >
      <div align="justify">
        <h3 class="text-center">Ingredients</h3>
        <p>
          This In-Depth Focus explores the changing tastes and trends within the food industry and looks at how new
          techniques are changing what goes into the food we eat.In the confectionery and baking worlds, ingredients
          have been used in various combinations and mixes to achieve enhanced taste, resulting in several
          modifications within the market.
          Pizzeria gives you an option to add ingredients on your own.
        </p>
      </div>
    </div>
      <div align="justify" >
        <br><br><br><br>
        <img width="400px" [src]='"assets/chefs.jpg"'  style="margin:0px 15px; float:right ">
        <h3 class="text-center">Our chefs</h3>
        <p>
            There is so much more to being an InspiringChefs than simply knowing the techniques. Many of our chefs began as home-cooks, learning from the best (their mums, grandparents and great-grandparents!) and training at that most-esteemed academy, the culinary school of life. Our chefs are individually chosen because they bring something special to the table. An InspiringChefs needs to have flair, a sense of flavour, a great story, the ability to help you get to know your food as you learn to cook and, most importantly, passion, which will shine through.

            Our chefs come from all over the world and have a variety of different backgrounds, simply click on their pictures below to learn more and get cooking!
        </p>
      </div>
      <div align="justify">
          <br><br><br><br>
          <img width="300px" [src]='"assets/45min.jpg"'  style="margin:0px 10px; float:left ">
          <h3 class="text-center" style="padding:85px" >45 min Delivery</h3>
        </div>
        <footer class="footer text-center text-danger " style="padding-top: 50px;"><em>Copyrights @ 2018 Pizzeria. All Rights Reserved.</em></footer>
  </article>
</div>
